body {
  font-family: Helvetica, sans-serif;
  margin-left: 150px;
  margin-right: 150px;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 30%;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: lightgray;
}
