@media only screen and (max-width: 800px) {
  .notonmobile {
    display: none;
  }
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 30%;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: lightgray;
}
