body {
  margin-left: 150px;
  margin-right: 150px;
}

@media only screen and (max-width: 800px) {
  .notonmobile {
    display: none;
  }
}

/*
.mx-2 {
  margin-left: ($spacer * 3) !important;
  margin-right: ($spacer * 3) !important;
}
*/

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 30%;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: lightgray;
}
